.MapPage{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.MapPage__Content{
	order: 1;
	flex: 1 1;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	background: #7D9698;
}

.MapPage__SideBar{
	order: 0;
}

.MapPage__Content__Title{
	font-size: 1.2em;
}

.MapPage__Content__Body{
}

.MapPage__Content__Image{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
.MapPage__Content__Map__Row{
	width: max-content;
}
.MapPage__Content__Map__Row--even{
}
.MapPage__Content__Map__Row--odd{
	transform: translate(-17%,-27%); /*this makes the hex grid look nice but its working purely by coincidence and should instead be based on the size of the tile*/
}
