.Settings{
	width: 100%;
}
.Settings__Contents{}
.Settings__Contents__Options{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.Settings__Contents__Options li{
	padding: 1.5em;
	border-bottom: 1px solid #7D9698;
	cursor: pointer;
}
.Settings__Contents__Options li a{
	color: black;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
