.FileTab{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25em;
}

.FileTab__Content__File_List ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0;
	margin: 0;
}

.FileTab__Content__File_List ul li{
	width: min-content;
	display: flex;
	flex-direction: column;
}

.FileTab__Content__Upload_File form{
	display: flex;
	flex-direction: column;
}


.FileTab__Content__File_List ul li input,
.FileTab__Content__File_List ul li textarea,
.FileTab__Content__File_List ul li button{
	margin: 0;
}

.FileTab__Content__Upload_File button,
.FileTab__Content__File_List ul li button{
	padding: 0.5em;
	margin-top: 0.25em;
	font-size: 1em;
	cursor: pointer;
	outline: none;
}

.FileTab__Content__Upload_File button,
.FileTab__Content__File_List__Select_Cover{
	border: 0;
	background: #7D9698;
	font-weight: bold;
}

.FileTab__Content__Upload_File button:hover,
.FileTab__Content__File_List__Select_Cover:hover{
	background: #445157;
}

.FileTab__Content__File_List__Delete_Image{
	border: 0;
	background: #DD9AC2;
	font-weight: bold;
}

.FileTab__Content__File_List__Delete_Image:hover{
	background: #B486AB;
}

[class*="FileTab__Content__"] input,
[class*="FileTab__Content__"] textarea{
	background: #D4CEBC;
	border: 0;
}
[class*="FileTab__Content__"] input:focus,
[class*="FileTab__Content__"] textarea:focus{
	background: white;
}
