.Relationships{
	width: 100%;
}
.Relationships__Contents{
}
.Relationships__Contents__Relationships{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	padding: 0
}
.Relationship__Contents__Relationships__Relationship{
	display: flex;
	flex-direction: column;
	width: min-content;
	padding: 0;
	margin: 0;
}

.Relationship__Contents__Relationships__Relationship button,
.Relationship__Contents__Relationships__Relationship ul li button{
	padding: 0.5em;
	margin-top: 0.25em;
	font-size: 1em;
	cursor: pointer;
	outline: none;
}

.Relationship__Contents__Relationships__Relationship button{
	border: 0;
	background: #7D9698;
	font-weight: bold;
}

.Relationship__Contents__Relationships__Relationship button:hover{
	background: #445157;
}

.Relationship__Contents__Relationships__Relationship__Delete{
	background: #DD9AC2 !important;
}

.Relationship__Contents__Relationships__Relationship__Delete:hover{
	background: #B486AB !important;
}

[class*="Relationship__Contents__Relationships__Relationship"] input,
[class*="Relationship__Contents__Relationships__Relationship"] textarea{
	background: #D4CEBC;
	border: 0;
}
[class*="Relationship__Contents__Relationships__Relationship"] input:focus,
[class*="Relationship__Contents__Relationships__Relationship"] textarea:focus{
	background: white;
}
