.WorldsPage{
	width: 100%;
}
.WorldsPage__Contents{}
.WorldsPage__Contents__List{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.WorldsPage__Contents__List li{
	cursor: pointer;
	width: min-content;
	padding: 0.25em;
}
.WorldsPage__Contents__List__World{}
