.TopBar{
	display:flex;
	flex-direction:column;
	background-color: #D4CEBC;
	color: #445157;
	justify-content: stretch;
	box-shadow: 0 0 0.20em #445157;
	padding: 0.25em;
	margin-bottom: 0.25em;
	align-items: center;
}

.TopBar__Contents{
	width: 100%;
}

.TopBar__Header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.TopBar__Header__World{
	color: #445157;
	text-decoration: none;
	flex: 8;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
	width: 100%;
	outline: none;
}

.TopBar__Header__World__Title{
	font-size: 2em;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

.TopBar__Header__Search{
	flex: 1;
	font-size: 2em;
	padding: 0;
	margin: 0;
	display: flex;
	text-align: center;
}

.TopBar__Header__Search__Box{
	font-size: 1em;
	padding: 0;
	margin: 0;
	width: 100%;
}

.TopBar__Header__Settings{
	flex: 1;
	font-size: 2em;
	padding: 0;
	margin: 0;
	text-align: center;
}

.TopBar__Navigation{
}
.TopBar__Navigation menu{
	display:flex;
	justify-content: space-around;
	list-style:none;
	padding:0;
	margin: 0;
}
.TopBar__Navigation__Link{
	color: #7D9698;
	outline: none;
	font-size: 2em;
	text-decoration: none;
}
.TopBar__Navigation__Link--activated{
	color: #445157;
}
.TopBar__Cancel_Confirm menu{
	display:flex;
	justify-content: space-between;
	list-style:none;
	padding:0;
	margin: 0;
}
.TopBar__Cancel_Confirm__Selection{
	color: #7D9698;
	cursor: pointer;
	background-color: #D4CEBC;
	font-size: 2em;
	border: 0;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

@media (min-width: 600px){
	.TopBar__Contents{
		width: 600px;
	}
}
