.InfoBar{
}
.InfoBar__Header{
	background-color: #535F64;
	font-size:2em;
	color: white;
	cursor: pointer;
}

.InfoBar__Contents{
	background-color: #7D9698;
	display: flex;
	text-align: justify;
	flex-direction: column;
}

.InfoBar__Contents--hidden{
	display: none;
}

.InfoBar__Contents h1,
.InfoBar__Contents h2,
.InfoBar__Contents h3,
.InfoBar__Contents h4,
.InfoBar__Contents h5,
.InfoBar__Contents h6
{
	margin: 0;
}
