.App{
	display: flex;
	flex-direction:column;
	align-items: center;
	height: 100%;
}

.App__TopBar{
	width: 100%;
}

.App__Content{
	display:flex;
	width: 100%;
	height: 100%;
}

@media (min-width: 600px){
	.App__Content{
		width: 600px;
	}
}
