.NoteLink{
}
.NoteLink__Contents{
	display:flex;
	flex-direction:row;
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.NoteLink__Contents__Image{
	flex: 0 1 5em;
	padding-left: 0.25em;
}
.NoteLink__Contents__Image img{
	width: 100%;
}
.NoteLink__Contents__Description{
	flex: 3 0 75%;
	padding-left: 0.25em;
}
.NoteLink__Contents__Description header{
	font-size:1.2em;
}
