.RelationshipsTab{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25em;
}
.RelationshipsTab__Add_Relationship form{
	display: flex;
	flex-direction: column;
}

.RelationshipsTab__Add_Relationship button,
.RelationshipsTab__Add_Relationship ul li button{
	padding: 0.5em;
	margin-top: 0.25em;
	font-size: 1em;
	cursor: pointer;
	outline: none;
}

.RelationshipsTab__Add_Relationship button{
	border: 0;
	background: #7D9698;
	font-weight: bold;
}

.RelationshipsTab__Add_Relationship button:hover{
	background: #445157;
}

[class*="RelationshipsTab__Add_Relationship"] input,
[class*="RelationshipsTab__Add_Relationship"] textarea{
	background: #D4CEBC;
	border: 0;
}
[class*="RelationshipsTab__Add_Relationship"] input:focus,
[class*="RelationshipsTab__Add_Relationship"] textarea:focus{
	background: white;
}
