.SideBar{
}

.SideBar__Header{
	background-color: #677766;
	font-size:2em;
	color: white;
	cursor: pointer;
}

.SideBar__Contents{
	background-color: #A7BFA1;
	display: flex;
	flex-direction: column;
}


.SideBar__Contents input{
}

.SideBar__Contents button{
	background-color: #677766;
	color: white;
	border: 0;
	font-size:1.5em;
	margin: 0.5em;
}

.SideBar__Contents button:hover{
	background-color: #445157;
}

.SideBar__Contents__Item{}

.SideBar__Contents--hidden{
	display: none;
}
