body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda", "Malayalam", Arial, sans-serif;
  background-color: #D4CEBC;
  overflow-y:scroll;
  height: 100vh;
}

#root{
  height: 100vh;
}
