.Search{
	width: 100%;
}

.Search__Search{
	display: flex;
	flex-direction: column;
}

.Search__NoteLinkList__List{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.Search__NoteLinkList__List li{
	cursor: pointer;
	width: min-content;
	padding: 0.25em;
}

.Search__Search button,
.Search__Search ul li button{
	padding: 0.5em;
	margin-top: 0.25em;
	font-size: 1em;
	cursor: pointer;
	outline: none;
}

.Search__Search button{
	border: 0;
	background: #7D9698;
	font-weight: bold;
}

.Search__Search button:hover{
	background: #445157;
}

.Search__Search__Delete{
	background: #DD9AC2 !important;
}

.Search__Search__Delete:hover{
	background: #B486AB !important;
}

[class*="Search__Search"] input,
[class*="Search__Search"] textarea{
	background: white;
	border: 0;
}
[class*="Search__Search"] input:focus,
[class*="Search__Search"] textarea:focus{
	background: white;
}
