.InfoTab{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.25em;
}
.InfoTab__Content__Image{
	order: 0;
	text-align: center;
	margin: 0 auto;

}
.InfoTab__Content__Name{
	order: 1;
	display: flex;
	flex-direction: column;
}
.InfoTab__Content__Tags{
	order: 3;
	display: flex;
	flex-direction: column;
}
.InfoTab__Content__Details{
	order: 2;
	display: flex;
	flex-direction: column;
}

[class*="InfoTab__Content__"] h3{
	padding: 0;
	margin: 0;
}
.InfoTab__Content__Name input{
	font-size: 1.5em;
}

[class*="InfoTab__Content__"] input,
[class*="InfoTab__Content__"] textarea{
	background: #D4CEBC;
	border: 0;
}
[class*="InfoTab__Content__"] input:focus,
[class*="InfoTab__Content__"] textarea:focus{
	background: white;
}

.InfoTab__Content__Tags__List{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding: 0;
}
.InfoTab__Content__Tags__List__Tag{
	background-color: #535F64;
	color: white;
	padding: 0.25em;
	margin: 0.25em;
}
